html,body,#app{
    width: 100%;
    height: 100%;
    touch-action: none;
}
.noe-top-px{
    position: relative;
}
.noe-top-px::before{
    position: absolute;
    top: -0.003rem;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 0.003rem;
    border-top: 0.003rem solid #c8c8c8;
    transform: scaleY(0.5); 
}
.noe-bottom-px{
    position: relative;
}
.noe-bottom-px::after{
    position: absolute;
    bottom: -0.003rem;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 0.003rem;
    border-bottom: 0.003rem solid #c8c8c8;
    transform: scaleY(0.5); 
}